<md-content layout="row" layout-align="space-around center" style="background-color:rgba(0, 0, 0, 0); height:100%; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial;">

	<img src="./images/mariane-numerique.png"/>
	<div style="background-color:rgba(220, 220, 220, 0.5); border:1px #369 solid; border-radius:3px; padding:20px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);">
		<h1 class="md-display-3" style=" font-size: 50px;font-weight:bold; text-align:center"><span style="color:#369">P</span>ORTAIL <span style="color:#DB0000">C</span>ITOYEN 360°</h1>
		<hr/>
		<br/>
		Ce portail vous permet d'obtenir toutes les informations administratives vous concernant.<br/>
		Connectez-vous via France Connect pour vous identifier.
	</div>
</md-content>
