<div ng-controller="correctionCtrl">

  <div class="gridDashboard" layout="row" layout-align="space-between start" style="margin:0px; padding:0px;">
    <div layout="row" layout-wrap data-ng-model="dashboard" style="width: 90%; margin: 0% 5%;" >
      <div flex="100"  ng-if="dashboard.show">
        <div class="bloc" style="max-height:100%;width:auto" ng-class="{'dashboardLoading':dashboard.loading}" >
           <div class="header" layout="row" layout-align="space-between center">
            <h3 style="margin:2 0 0 10">
              <md-icon md-svg-icon="images/{{dashboard.icone}}" class="s12" style="color:white"></md-icon> Demande de correction : {{dashboard.label}}
            </h3>
            <div flex></div>
          </div>
          <img src="images/{{dashboard.icone}}" style="height:300px;"/>
          <div ng-include="'views/correction/' + dashboard.id + '.html'" ng-controller="widgetCtrl" ></div>
        	<div layout="row"><md-button class="md-raised" ng-click="saveCorrection($event)" >Envoyer la demande de correction</md-button></div>
        	<div class="isa_success" ng-show="msgSave">
			     <i class="fa fa-check"></i>
			     Votre demande à bien été transmise au service concerné.
        	</div>
        </div>
        
        
        
      </div>
    </div>
  </div>
  
  
  
  
</div>

