<md-content class="gridDashboard" layout-padding ng-controller="dashboardCtrl">
	<md-grid-list
        md-cols-sm="1" 
        md-cols-md="2" 
        md-cols-gt-md="3"
        md-row-height-gt-md="3:1" 
        md-row-height="2:1"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile ng-repeat="dashboard in dashboards"
                  md-rowspan="{{dashboard.row}}"
                  md-colspan="1"
                  md-colspan-sm="1"
                  ng-class="{'test':dashboard.loading, 'dashboard':!dashboard.loading}" >
        <div layout="column" class="bloc">
        	<div layout="row" style="padding:1px" layout-align="start center" ng-repeat="labVal in dashboard.dash"><div>{{labVal.label}} :&nbsp;</div><div class="dashLabel">&nbsp;{{labVal.valeur}}&nbsp;</div></div>
        </div>
      <md-grid-tile-footer><h3><md-icon md-svg-icon="images/{{dashboard.icone}}" class="s12" style="color:white"></md-icon> {{dashboard.label}}</h3></md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>

</md-content>
