<div ng-controller="dashboardCtrl">
  <div layout="column" style="position:absolute; left:0; top:23px;">
    <div ng-repeat="dashboard in dashboards" ng-if="!dashboard.show" class="dashVignette" ng-class="{'alerteVignette':dashboard.alertes}">
      <md-icon md-svg-icon="images/{{dashboard.icone}}" style="color:black; cursor:pointer" ng-click="toggleDashboard(dashboard)" ></md-icon>
      <!-- <md-tooltip><span ng-repeat="alerte in dashboard.alertes">{{alerte}}</span></md-tooltip> -->
    </div>
  </div>

  <div class="gridDashboard" layout="row" layout-align="space-between start">

    <!-- Container de tri-->
    <div layout="row" layout-wrap data-as-sortable="dragControlListeners" data-ng-model="dashboards" style="width:100%" >
      <!-- container par widget-->
      <div ng-repeat="dashboard in dashboards" flex="30"  data-as-sortable-item ng-if="dashboard.show">
        <div class="bloc" ng-class="{'dashboardLoading':dashboard.loading}"  >
          <div style="overflow:auto;height:90%;z-index:90000;" >
            <img src="images/{{dashboard.icone}}"/>
            <div ng-include="'views/dashboards/widget.html'" layout="column" ng-controller="widgetCtrl" ></div>
          </div>
          <!-- footer de la widget -->
          <div class="footer" layout="row" layout-align="space-between center">
            <h3 style="margin:2 0 0 10">
              <md-icon md-svg-icon="images/{{dashboard.icone}}" class="s12" style="color:white"></md-icon> {{dashboard.label}}
            </h3>
            <div flex></div>
            <div style="margin:2 10 0 0; padding:5px" layout="row">
              <div ng-if="dashboard.alertes">
                <md-icon md-svg-icon="images/exclamation.svg" style="color:rgba(255, 165, 1, 1); cursor:pointer">
                </md-icon>&nbsp;
                <md-tooltip><span ng-repeat="alerte in dashboard.alertes">{{alerte}}</span></md-tooltip>
              </div>
              <md-icon md-svg-icon="images/minus.svg" style="color:white; cursor:pointer" class="s16" ng-click="toggleDashboard(dashboard)" ></md-icon>&nbsp;
              <div data-as-sortable-item-handle>
                <md-icon md-svg-icon="images/move.svg" style="color:white"></md-icon>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>





	
</div>