<md-content class="gridDashboard" layout-padding ng-controller="dashboardCtrl">
	<md-grid-list
        md-cols-sm="1" 
        md-cols-md="2" 
        md-cols-lg="2" 
        md-cols-gt-lg="3"
        md-row-height-gt-md="3:1" 
        md-row-height="2:1"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile ng-repeat="dashboard in dashboards"
                  md-rowspan="{{dashboard.row}}"
                  md-colspan="1"
                  md-colspan-sm="1"
                  class="dashBack {{dashboard.id}}"
                  ng-class="{'test':dashboard.loading, 'dashboard':!dashboard.loading}" >
        
        <div ng-include="'views/dashboards/' + dashboard.id + '.html'" layout="column" class="bloc" dynamic-ctrl="dashboard.id + 'DashboardCtrl'"></div>
      
        <md-grid-tile-footer>
          <h3>
            <md-icon md-svg-icon="images/{{dashboard.icone}}" class="s12" style="color:white"></md-icon> {{dashboard.label}}
          </h3>
        </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>

</md-content>
