<md-dialog id="loginpopup">
  	<form>
  	<md-dialog-content class="sticky-container">
  		<md-subheader class="md-sticky-no-effect md-primary">Authentification</md-subheader>
		<md-content layout-padding layout="column" layout-align="center center">
			<md-input-container>
		      	<label>Utilisateur</label>
		      	<input ng-model="username">
		    </md-input-container>
		    <md-input-container>
	      		<label>Mot de passe</label>
	      		<input ng-model="password" type="password">
	    	</md-input-container>
	    	<md-button class="md-raised md-primary" aria-label="Authentification" ng-click="login()">
          		Authentification <md-icon md-svg-icon="images/login.svg"></md-icon>
        	</md-button>
	    </md-content>
	</md-dialog-content>
</md-dialog>