.s12 {
	width: 12px;
	height: 12px;
}

.smallerfont {
	font-size:0.5em;
}
.smallfont {
	font-size:0.7em;
}

html, body {
	height: 100%;
	min-height:100%;
}

.gridDashboard .dashboard {
  background: #d2e5e0;
}

.gridDashboard .dashlabel {
  background-color:rgba(190, 209, 204, 0.8);
  border-radius:4px;
  color:#369;
}

.gridDashboard .dashBack:before {
  	content:' ';
  	display:block;
  	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.05;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}
.gridDashboard .identite:before {
    background-image: url('../images/profile.svg');
}
.gridDashboard .banque:before {
    background-image: url('../images/credit.svg');
}
.gridDashboard .fai:before {
    background-image: url('../images/fai.svg');
}
.gridDashboard .casier:before {
    background-image: url('../images/casier.svg');
}
.gridDashboard .situPro:before {
    background-image: url('../images/travail.svg');
}

.gridDashboard md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
}

.gridDashboard .bloc {
	color: #000;
    height: 100%;
    line-height: 2em;
    padding: 5px;
    width: 100%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
    font-size:0.9em;
}

md-content .gridDashboard {
	background-color: rgba(0,0,0,0);
}

md-grid-tile {
	border-radius:4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.shadow {
	background: url("../images/bg_shadow.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
	width:100%;
	height:14px;
}

.test {
	background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
	background-color:#E0E0E0;
}