.s12 {
	width: 12px;
	height: 12px;
}
.s16 {
  width: 16px;
  height: 16px;
}

.smallerfont {
	font-size:0.5em;
}
.smallfont {
	font-size:0.7em;
}

html, body {
	height: 100%;
	min-height:100%;
  font-size:0.9em;
}

.gridDashboard {
  margin:3px;
  padding-left:20px;
}

.gridDashboard .dashlabel {
  background-color:rgba(190, 209, 204, 0.8);
  border-radius:4px;
  color:#369;
}

.as-sortable-dragging img,
.gridDashboard .bloc img {
    position: absolute;
    right: 25px;
    top: 5px;
    width: auto;
    height: 90%;
    opacity: 0.05;
}

.as-sortable-dragging .header,
.gridDashboard .bloc .header {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
  color:#FFFFFF;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  vertical-align: middle;
}

.as-sortable-dragging .footer,
.gridDashboard .bloc .footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
  color:#FFFFFF;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  vertical-align: middle;
}
 
.as-sortable-dragging .bloc,
.gridDashboard .bloc {
  background-color: #EEF2F5;
	color: #000;
  height: 100%;
  line-height: 2em;
  width: 100%;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial;
  font-size:0.9em;
  position: relative;
  border-radius:4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding:12px;
  max-height:300px;
}

.as-sortable-dragging .dashboardLoading,
.gridDashboard .dashboardLoading {
  background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
  background-color:#E0E0E0;
}

.shadow {
	background: url("../images/bg_shadow.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
	width:100%;
	height:14px;
}

.as-sortable-item {
  margin:20px;
}
.as-sortable-placeholder {
    display: inline-block;
    float: left;
    border:1px black dotted;
    background-color:#F0F0F0;
    border-radius:4px;
    width:100%;
    height:inherit;
    margin:20px;
}

.dashVignette {
  border: 1px #C0C0C0 solid;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding:3px;
}

.alerteVignette {
  background-color:rgba(255, 165, 1, 1);
}

md-tooltip {
  font-size:14px
}

.isa_success {
	margin: 10px 0px;
	padding:12px;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}



/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
.table-fill th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.table-fill th:first-child {
  border-top-left-radius:3px;
}
 
.table-fill th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.table-fill tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.table-fill tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
.table-fill tr:first-child {
  border-top:none;
}

.table-fill tr:last-child {
  border-bottom:none;
}
 
.table-fill tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.table-fill tr:nth-child(odd):hover td {
  background:#4E5066;
}

.table-fill tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.table-fill tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.table-fill td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.table-fill td:last-child {
  border-right: 0px;
}

.table-fill th.text-left {
  text-align: left;
}

.table-fill th.text-center {
  text-align: center;
}

.table-fill th.text-right {
  text-align: right;
}

.table-fill td.text-left {
  text-align: left;
}

.table-fill td.text-center {
  text-align: center;
}

.table-fill td.text-right {
  text-align: right;
}