<div layout="row" style="padding:1px" layout-align="start center" ng-repeat="field in dashboard.fields">
	<div ng-if="field.label">{{field.label}} :&nbsp;</div>
	<div ng-if="!field.label">{{dashboard.dash[field.id].label}} :&nbsp;</div>
	
	<div class="dashLabel">&nbsp;{{dashboard.dash[field.id].valeur}}&nbsp;</div>
</div>
<!--
<div layout="row" style="padding:1px" layout-align="start center" ng-repeat="labVal in dashboard.dash">
	<div>{{labVal.label}} :&nbsp;</div>
	<div class="dashLabel">&nbsp;{{labVal.valeur}}&nbsp;</div>
</div>
-->